In [55]:
MYSQL_CONFIG = {
    "USER_NAME": "intern_test",
    "PASSWORD": "intern_test",
    "HOST": "192.168.80.34",
    "PORT": "2023",
    "DATABASE": "postgres"
}

DATA_BASE_DESIGN = "https://dbdiagram.io/d/6526d848ffbf5169f080dc9e"

In [56]:
from sqlalchemy.orm import sessionmaker, Session
from sqlalchemy.engine.url import URL
from sqlalchemy import create_engine

In [57]:
url_object = URL.create(
                    drivername="postgresql",
                    username=MYSQL_CONFIG["USER_NAME"],
                    password=MYSQL_CONFIG["PASSWORD"],
                    host=MYSQL_CONFIG["HOST"],
                    port=MYSQL_CONFIG["PORT"],
                    database=MYSQL_CONFIG["DATABASE"],
                )
engine = create_engine(url_object, echo=True)
Session_ = sessionmaker(bind=engine)
session: Session = Session_()

In [58]:
from sqlalchemy import Column, Integer, String, ForeignKey, DateTime, Float
from sqlalchemy.ext.declarative import declarative_base

In [59]:
import enum
class GenderEnum(enum.Enum):
    Male = "Male"
    Female = "Female"

In [70]:
Base = declarative_base()

class Student_score(Base):
    __tablename__ = 'student_score'
    
    user_authorization_id = Column(String, ForeignKey('student_authorization.user_authorization_id'), primary_key=True)
    math = Column(Float)
    literature = Column(Float)
    english = Column(Float)
    physics = Column(Float)
    chemistry = Column(Float)
    
class Student_authorization(Base):
    __tablename__ = 'student_authorization'
    
    user_authorization_id = Column(String, primary_key=True)
    student_id = Column(String, ForeignKey = True)
    country_id = Column(Integer)
    created_datetime = Column(DateTime)
    
class Country(Base):
    __tablename__ = 'country'
    
    country_id = Column(Integer, primary_key=True)
    country_name = Column(String)
    area = Column(String)
    population = Column(Integer)
    acreage = Column(Float)
    density = Column(Integer)
    administration_district = Column(Integer)

class Student(Base):
    __tablename__ = 'student'
    
    student_id = Column(String, primary_key= True)
    student_name = Column(String)
    created_datetime = Column(DateTime)
    last_modified_datetime = Column(DateTime)
    expires_at = Column(DateTime)
    
class Student_information(Base):
    __tablename__ = 'student_information'
    
    student_id = Column(String, ForeignKey('student.student_id'), primary_key= True)
    country_id = Column(Integer, ForeignKey('country.country_id'), primary_key= True)
    email = Column(String)
    gender = Column(String)
    date_of_birth = Column(String)
    country_id = Column(Integer)
    created_datetime = Column(DateTime)

C:\Users\Admin\AppData\Local\Temp\ipykernel_17312\2394198213.py:1: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

TypeError: Additional arguments should be named <dialectname>_<argument>, got 'ForeignKey'

In [66]:
"""
CREATE TABLE adress ( address_id INT PRIMARY KEY, street_address VARCHAR, city VARCHAR, state VARCHAR, postal_code VARCHAR );
CREATE TABLE customer ( customer_id INT PRIMARY KEY, address_id INT NOT NULL REFERENCES adress(address_id), first_name VARCHAR, last_name VARCHAR );
"""

Base = declarative_base()

class Customer(Base):
    __tablename__ = 'customer'

    customer_id = Column(Integer, primary_key=True)
    address_id = Column(Integer, ForeignKey('adress.address_id'), nullable=False)
    first_name = Column(String)
    last_name = Column(String)

class Address(Base):
    __tablename__ = 'adress'

    address_id = Column(Integer, primary_key=True)
    street_address = Column(String)
    city = Column(String)
    state = Column(String)
    postal_code = Column(String)

# Base.metadata.create_all(engine)

C:\Users\Admin\AppData\Local\Temp\ipykernel_17312\3990254434.py:6: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

SELECT

In [ ]:
session.query(Address).filter(address_id = 1).all() # SELECT * FROM adress WHERE address_id = 1;

UPDATE

In [ ]:
results = session.query(Address).filter(city = 'Hanoi').all()
for result in results:
  result.postal_code = '00000'
  session.commit() # UPDATE adress SET postal_code = '00000' WHERE city = 'Hanoi';

DELETE

In [ ]:
results = session.query(Address).filter(address_id = 1).all()
session.delete(results) # DELETE FROM adress WHERE address_id = 1;

INSERT

In [ ]:
new_row = Customer(customer_id=1997, address_id=1, first_name='Quang', last_name='Nguyen Duy')
session.add(new_row)
session.commit() # INSERT INTO customer (customer_id, address_id, first_name, last_name) VALUES (1997, 1, 'Quang', 'Nguyen Duy');

DAO (Data Access Object) SAMPLE

In [ ]:
 from typing import List
 from sqlalchemy.orm import Session

 class CustomerDAO():
    def __init__(self, session: Session) -> None:
      self.session = session

    def fetch(self, student_id: int) -> Customer:
      return self.session.query(Customer).filter(student_id = student_id).first()

    def fetch_all(self) -> List[Customer]:
      return self.session.query(Customer).all()

Translator (Mapper) SAMPLE

In [ ]:
class CustomerV2(Base):
    __tablename__ = 'customer_v2'

    customer_id = Column(Integer, primary_key=True)
    address_id = Column(Integer, ForeignKey('adress.address_id'), nullable=False)
    full_name = Column(String)


class CustomerTranslator():
  def __init__(self) -> None:
     pass

  def translate(self, input_customer: List[Customer]) -> List[CustomerV2]:
    out = []
    for input_customer_idx in input_customer:
      out.append(CustomerV2(
          customer_id=input_customer_idx.customer_id,
          address_id=input_customer_idx.address_id,
          full_name=f"{input_customer_idx.first_name} {input_customer_idx.last_name}"
      ))
    return out